
<div class="container">
  <nav class="sidebar">
    <div class="logo">
      UstadAI
    </div>
    <hr id="hr1">
    <div class="card-container">
      <button class="card card-small"  tabindex="0">
        <span class="button-text">Home</span>
      </button>

      <button class="card card-small"  tabindex="0">
        <span class="button-text">Arabic Quiz Generator</span>
      </button>
  
      <button class="card card-small" tabindex="0">
        <span class="button-text">English Quiz Generator</span>
      </button>
  
      <button class="card card-small lastbutton"  tabindex="0">
        <span class="button-text">Feedback Generator</span>
      </button>

    </div>
  </nav>
  
  
  <div class="content" role="main">
    Welcome To UstadhAI
  </div>
</div>


<router-outlet></router-outlet>
